.post {
    background-color: white;
    color: black;
    font-size: 40px;
}
.post-description {
    font-size: 30px;

}
.post-text{
    font-size: 20px;
}
.post-date {
    font-size: 20px;
}
.post-image {
    width: 1000px;
    height: 400px;
}
.site-title{
    font-size: 20px;
    color: aqua;
    margin-right: 400px;
 }
